* {box-sizing: border-box;}
.game-covers{
    width:20%;
    height: 20%;
    float: left;
    margin: 10px;
}
#massive-logo { 
    width: 10%;
    height: 10%;
    float: left;
}
.flex-container {
  display: flex;
  justify-content: center; /* Horizontally centers the text box */
  align-items: center;     /* Vertically centers the text box */
  height: 200px;           /* Requires a height to center vertically */
}
.middle-text {
    font-family: 'Courier New', Courier, monospace;
    font-size: medium;
    text-align: center;
}
.game-discription{
    align-content: center;
    content: 200px;
}
.footnote {
    color: rgb(255, 0, 0);
    font-size: small;
    text-align: center;
    vertical-align: bottom;
}
.content {
    color: gold;
}
header { color:#662222;
    padding: 10px;

}
div{
    margin: bottom 10px; ;
}
footer {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  border-top-color: gray;
  border: 30px 0px 0px 0px;
  background-color: #662222;
  padding: 8px;
  text-align: center;
  z-index: 1000;
}
p {
    font-size:100%;
    font-family:verdana;
    color: azure;
}
 h1{
    color: red;
    text-align: center;
 }
h2 {
    font-size:150%;
    font-family:"Lucida Console", "Courier New", monospace;
}
body{
    background-color: rgb(0, 0, 0);
    font-size: medium;
    color: #dddddd;
}
ul.topnav {
  display: flex;
  list-style-type: none;
  margin: 0;
  padding: 0;
  background-color: #000000;}
ul.topnav li a {
  display: block;
  color: #f1f1f1;
  padding: 14px 16px;
  text-decoration: none;
}
ul.topnav li a:hover {
  background-color: #dddddd;
  color: black;
}
div.flex-container {
  display: flex;
  flex-direction: row;
}

div.flex-container > div {
  margin: 10px;
}
nav a {
    color: white;
    text-decoration-line: none;
}

a:hover {
color: peru;
text-decoration-line:underline;
}
a:visited {
    color:rgb(79, 79, 228);
}
ul li {
  float: left;
}

ul li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}
ul li a:hover {
  background-color: #882626;
}
.game-poster{
    border: none;
    text-align: center;
    background-color: black ;   
    width: 500;
    height: 200;
    margin: 30px;
}