img {
    width: unset;
    height:300px;
}
.game-covers{
    width:10%;
    height: 10%;
}
.middle-text {
    font-family: 'Courier New', Courier, monospace;
    font-size: medium;
    text-align: center;
}
.footnote {
    color: rgb(255, 0, 0);
    font-size: small;
    text-align: center;
    vertical-align: bottom;
}
.content {
    color: gold;
}
header { color:#662222;
    padding: 8px;

}
footer {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: #662222;
  padding: 8px;
  text-align: center;
  z-index: 1000;
}
p {
    font-size:100%;
    font-family:verdana;
    color: azure;
}
 h1{
    color: red;
    text-align: center;
 }
h2 {
    font-size:150%;
    font-family:"Lucida Console", "Courier New", monospace;
}
button{
    color: #662222;
    border: none;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: medium;
    margin: 4px 2px;
    cursor: pointer;
    padding: 15px 32px;
}
body{
    background-color: rgb(0, 0, 0);
    font-size: medium;
    color: #dddddd;
}
ul.topnav {
  display: flex;
  list-style-type: none;
  margin: 0;
  padding: 0;
  background-color: #333333;}
ul.topnav li a {
  display: block;
  color: #f1f1f1;
  padding: 14px 16px;
  text-decoration: none;
}
ul.topnav li a:hover {
  background-color: #dddddd;
  color: black;
}
div.flex-container {
  display: flex;
  flex-direction: row;
}

div.flex-container > div {
  margin: 10px;
}
nav a {
    color: white;
    text-decoration-line: none;
}

a:hover {
color: peru;
text-decoration-line:underline;
}
a:visited {
    color:rgb(79, 79, 228);
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #faf8f894;
  position: fixed;
  top: 0;
  width: 100%;
  opacity: 100%;
}

ul li {
  float: left;
}

ul li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}
ul li a:hover {
  background-color: #882626;
}
.game-poster{
    border: none;
    text-align: center;
    background-color: black ;
    left: 30px;
}